/* Add CSS Styling */
.odd{
  background-color: rgb(233, 149, 184);
  font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#second{
  color: #0000ff;
  font-size: 36px;
}

.cooler,
#fourth{
  font-size: 24px;
}

#fourth{
  background-color: hsl(120, 100%, 75%);
  font-weight: bold;
}