* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  flex-shrink: 0;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding: 16px;
}

.main {
  flex: 1;
  display: flex;
}

.footer {
  height: 72px;
  flex-shrink: 0;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  flex-shrink: 0;
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.mainContent {
  padding: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-content: flex-start;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, .06);
  border-radius: 4px;
  width: 300px;
  height: 200px;
}

@media not screen and (min-device-pixel-ratio: 2),
not screen and (min-resolution: 192dpi) {
  #fixSpace {
    margin-right: 8px;
  }
}

/* #fixSpace {
  margin-right: 8px;
} */