body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 16px;
  padding-bottom: 5px;
}

.title {
  font-size: 16px;
  padding: 10px;
  margin: 10px 0;
  background: #e3f4ff;
}

.card div {
  margin: 10px 0;
}

.content {
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  background: white;
  border: 1px solid #eee;
}